*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #1f1f1f;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 100px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  color: #fff;
}

.header__phone-number {
  font-weight: normal;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
  transition: all 0.3s ease-out;
}

.header__phone-number:hover {
  background-color: #fff;
  color: #886239;
}

.menu {
  width: 100%;
  border-top: 1px solid#fff;
  border-bottom: 1px solid#fff;
  margin-top: 15;
  padding: 27px 0 24px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.menu__item:hover::after {
  width: 100%;
}

.header__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  font-weight: 700;
  font-size: 20px;
  max-width: 420px;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  padding: 19px 54px 20px;
  font-size: 18px;
  background-color: #886239;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}

.header__btn:hover {
  background-color: #fff;
  color: #886239;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  margin-bottom: 100px;
}
.direction__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 30px;
}
.direction__item {
  border: 1px solid #d9d9de;
}
.direction__img {
  width: 100%;
  display: block;
}
.direction__title {
  font-size: 16px;
  padding: 15px 0 15px 15px;
  line-height: 17px;
}

.travel__info {
  background-image: url(../images/travel-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.travel-info__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 52px;
}

.travel__info-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 50px 70px;
  padding-bottom: 50px;
}

.travel__info-img {
  display: block;
  margin-bottom: 15px;
}

.travel__info-text {
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.offers {
  margin-bottom: 100px;
}

.offers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.offers__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d9d9de;
}

.offers__link {
  min-height: 256px;
  padding: 16px 24px 19px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 130%;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.offers__link-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.offers__link-title--big {
  font-size: 24px;
}

.offers__price {
  font-weight: bold;
  font-size: 16px;
  margin-top: auto;
}

.offers__country,
.offers__time {
  margin-bottom: 15px;
}

.map {
  margin-bottom: 100px;
}

.map__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
}

.about {
  margin-bottom: 100px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__content {
  max-width: 450px;
}

.about__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 35px;
}

.about__link {
  font-size: 16px;
  line-height: 18px;
  color: #c4c4c4;
  text-decoration: underline;
}

.about__popup {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 640px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__link {
  cursor: pointer;
}

.popup__link-img {
}

.gallery {
  padding: 50px 0 100px;
  margin-bottom: 100px;
  background-color: #886239;
  color: #fff;
}

.gallety__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.gallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery__slider {
}

.gallery__item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.gallery__item-link {
}

.gallery__item-img {
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}