*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #1f1e1e;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 100px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  color: #fff;
}

.header__phone-number {
  font-weight: normal;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
  transition: all 0.3s ease-out;
}

.header__phone-number:hover {
  background-color: #fff;
  color: #886239;
}

.menu {
  width: 100%;
  border-top: 1px solid#fff;
  border-bottom: 1px solid#fff;
  margin-top: 15px;
  padding: 27px 0 24px;
}
.menu__btn {
  display: none;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.menu__list.open {
  right: -1px;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.menu__item:hover::after {
  width: 100%;
}

.header__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  font-weight: 700;
  font-size: 20px;
  max-width: 420px;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  padding: 19px 54px 20px;
  font-size: 18px;
  background-color: #886239;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}

.header__btn:hover {
  background-color: #fff;
  color: #886239;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  margin-bottom: 100px;
}
.direction__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 30px;
}
.direction__item {
  border: 1px solid #d9d9de;
}
.direction__img {
  width: 100%;
  display: block;
}
.direction__title {
  font-size: 16px;
  padding: 15px 0 15px 15px;
  line-height: 17px;
}

.travel__info {
  background-image: url(../images/travel-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.travel-info__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
  text-align: center;
  padding-top: 32px;
  margin-bottom: 52px;
}

.travel__info-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 50px 70px;
  padding-bottom: 50px;
}

.travel__info-img {
  display: block;
  margin-bottom: 15px;
}

.travel__info-text {
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.offers {
  margin-bottom: 100px;
}

.offers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 40px;
}

.offers__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d9d9de;
}

.offers__link {
  min-height: 256px;
  padding: 16px 24px 19px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 130%;
}

.offers__link:nth-child(3),
.offers__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.offers__link-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.offers__link-title--big {
  font-size: 24px;
}

.offers__price {
  font-weight: bold;
  font-size: 16px;
  margin-top: auto;
}

.offers__country,
.offers__time {
  margin-bottom: 15px;
}

.map {
  margin-bottom: 100px;
}

.map__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
}

.map__iframe {
  max-width: 100%;
}

.about {
  margin-bottom: 100px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__content {
  max-width: 450px;
}

.about__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 35px;
}

.about__link {
  font-size: 16px;
  line-height: 18px;
  color: #c4c4c4;
  text-decoration: underline;
}

.about__popup {
  background-image: url(../images/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 640px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__link {
  cursor: pointer;
}

.popup__link-img {
}

.gallery {
  padding: 50px 0 100px;
  margin-bottom: 100px;
  background-color: #886239;
  color: #fff;
}

.gallety__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.gallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery__item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}

.slick-prev {
  right: 60px;
}

.tour {
  margin-bottom: 100px;
}

.tour__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 80px;
}

.tour__wrapper {
  column-count: 2;
  column-gap: 50px;
  padding-bottom: 35px;
  margin-bottom: 45px;
  border-bottom: 1px solid #dfdfdf;
}

.tour__text {
  margin-bottom: 30px;
}

.tour__text span {
  font-weight: 700;
}

.tour__info {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.tour__info-item {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  color: #886239;
  text-align: center;
}

.tour__info-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #1f1e1e;
}

.booking {
  color: #eaeaea;
  padding: 75px 0;
}

.booking__title {
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  color: #1f1e1e;
  text-align: center;
}

.booking__form {
  max-width: 830px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.booking__input {
  width: 256px;
  height: 44px;
  background-color: transparent;
  border: 1px solid #d9d9de;
  padding: 11px 14px 12px;
  margin-bottom: 28px;
  font-size: 16px;
  outline-color: #886239;
}

.booking__input::placeholder,
.booking__area::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #c4c4c4;
}

.booking__area {
  width: 100%;
  padding: 14px;
  height: 112px;
  border: 1px solid #d9d9de;
  resize: none;
  margin-bottom: 67px;
  outline-color: #886239;
}

.booking__btn {
  border: none;
  padding: 20px 65px;
  background-color: #886239;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.booking__label {
  font-size: 16px;
  line-height: 130%;
  color: #1f1e1e;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.booking__checkbox-style {
  width: 26px;
  height: 26px;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  margin-left: -45px;
  cursor: pointer;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #886239;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  padding: 80px 0;
  background-color: #1f1e1e;
}
.footer__logo {
  text-align: center;
  margin-bottom: 70px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 830px;
  color: #fff;
  font-size: 14px;
  line-height: 130%;
}
.footer__info {
  width: 225px;
}
.footer__wrapper-title {
  margin-bottom: 7px;
  font-weight: 500;
}
.footer__copy {
  margin-bottom: 3px;
  opacity: 0.8;
}
.footer__link {
  text-decoration: underline;
  opacity: 0.8;
}
.footer__adress {
  width: 165px;
}
.footer__contacts {
  width: 210px;
}
.footer__adress-text {
  opacity: 0.8;
}
.footer__contacts-text {
  opacity: 0.8;
}
@media (max-width: 1150px) {
  .tour__info {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .gallery__item-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__item-link {
    margin: 0 auto;
  }
  .tour__info-item {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: #886239;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .about__content {
    margin-bottom: 30px;
  }
  .about__wrapper {
    display: block;
  }
}

@media (max-width: 900px) {
  .header {
    margin-bottom: 50px;
  }
  .direction {
    margin-bottom: 50px;
  }
  .travel__info {
    margin-bottom: 50px;
  }
  .offers {
    margin-bottom: 50px;
  }
  .map {
    margin-bottom: 50px;
  }
  .about {
    margin-bottom: 50px;
  }
  .gallery {
    margin-bottom: 50px;
  }
  .tour {
    margin-bottom: 50px;
  }
  .booking {
    padding: 50px 0;
  }
  .footer {
    padding: 50px 0;
  }
  .header__phone span {
    display: none;
  }
  .header__title {
    font-size: 70px;
  }
  .offers__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .booking__input {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .tour__wrapper {
    column-count: 1;
  }
  .gallety__top {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
    margin-bottom: 50px;
  }
  .gallery__item-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__link {
    display: none;
  }
  .slick-btn {
    top: -3.2%;
  }
  .slick-prev {
    right: auto;
  }
  .tour__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 696px) {
  .booking__label {
    padding-top: 30px;
  }
}

@media (max-width: 690px) {
  .header__top {
    padding: 16px 0 25px;
  }
  .header__title {
    font-size: 60px;
  }
  .about__popup {
    width: 100%;
    background-position: left;
  }
}
@media (max-width: 650px) {
  .footer__wrapper {
    display: block;
  }
  .footer__info,
  .footer__adress,
  .footer__contacts {
    margin: 0 auto;
    width: 225px;
    margin-bottom: 30px;
  }
  .footer__contacts {
    margin-bottom: 0;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .tour__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 540px) {
  .logo {
    margin-bottom: 20px;
  }
  .header__phone {
    margin-bottom: 10px;
  }
  .header__phone-number {
    margin-left: 0px;
  }
  .header__title {
    font-size: 50px;
  }
}

@media (max-width: 450px) {
  .header__top {
    padding-bottom: 0;
  }
  .header__phone {
    margin-bottom: 10px;
  }
  .menu {
    border: none;
    padding-bottom: 0;
  }
  .menu__btn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1100;
    padding: 0;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #886239;
  }

  .menu__btn-style {
    background-color: #fff;
    height: 2px;
    width: 30px;
    position: absolute;
    top: calc(50% - 1px);
  }

  .menu__btn::after,
  .menu__btn::before {
    position: absolute;
    content: "";
    width: 30px;
    background-color: #fff;
    height: 2px;
    transition: all 0.3s;
  }

  .menu__btn::before {
    top: 15px;
  }

  .menu__btn::after {
    bottom: 15px;
  }

  .menu__btn.open::before {
    transform: rotate(45deg);
    top: 24px;
  }

  .menu__btn.open::after {
    transform: rotate(-45deg);
    bottom: 24px;
  }

  .menu__btn.open .menu__btn-style {
    transform: scale(0);
  }

  .menu__list {
    display: block;
    padding: 125px 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    background-color: #886239;
    transition: right 0.4s ease;
    width: 200px;
    font-size: 18px;
  }
  .menu__item {
    margin-bottom: 50px;
  }
  .menu__item:hover::after {
    width: 0;
  }
  .offers__wrapper {
    display: block;
  }
  .offers__link + .offers__link {
    margin-top: 30px;
  }
}

@media (max-width: 370px) {
  .logo__img {
    max-width: 230px;
  }
  .header__phone-number {
    font-size: 14px;
    padding: 12px 20px 13px;
  }
  .footer__wrapper {
    font-size: 12px;
  }
}
