*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 140%;
  color: #1f1f1f;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  color: #fff;
}

.header__phone-number {
  font-weight: normal;
  margin-left: 19px;
  padding: 12px 31px 13px;
  background-color: #886239;
  border-radius: 22px;
  transition: all 0.3s ease-out;
}

.header__phone-number:hover {
  background-color: #fff;
  color: #886239;
}

.menu {
  width: 100%;
  border-top: 1px solid#fff;
  border-bottom: 1px solid#fff;
  margin-top: 15;
  padding: 27px 0 24px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.menu__item:hover::after {
  width: 100%;
}

.header__title {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  font-weight: 700;
  font-size: 20px;
  max-width: 420px;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  padding: 19px 54px 20px;
  font-size: 18px;
  background-color: #886239;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-out;
}

.header__btn:hover {
  background-color: #fff;
  color: #886239;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  margin: 100px 0;
}
.direction__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.direction__item {
  border: 1px solid #D9D9DE;
}
.direction__img {
  width: 100%;
  display: block;
}
.direction__title {
  font-size: 16px;
  padding: 10px 0 19px 14px;
  line-height: 17px;
}
